body{
    margin: 0%;
    font-family: 'Oswald', sans-serif;
}
h1{
    font-size: 50px;
}
p{
    color: cadetblue;
}
.simis{
    color: darkorange;
}
.simu{
    width:40%;
    margin: 2%;
    padding:2% ;
    float: left;
    

    

}
.simu img{
    width: 80%;
}
.banner{
       background-image: url(images/top-banner.png);
       background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.click{
    text-decoration: none;
    background-image: -webkit-linear-gradient( 45deg,darkblue ,skyblue);
    border: black;
    padding: 5px 5px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}
.dream{
    background-image: url(images/dream-bg.png);
       background-repeat: no-repeat;
       background-position: right;
}